<!DOCTYPE html>
<html lang="en">

<head>
{{>head}}
</head>





<body>
    <!-- nabar -->
    {{>navbar}}

    <!-- main body -->

    <div class="container-fluid main_body abtbody">
        <div class="row">
              
                    <div class=" main_body_left abtbody">
                        <h1>This is <span class="text_w">About Us</span> page. </h1>
                        <h1>Nothing is here, go to weather page</h1>
                        <a href="/weather"><button>Weather Page</button></a>
                    </div>   
               
        </div>
    </div>
</body>




</html>