<!DOCTYPE html>
<html lang="en">

<head>
    {{>head}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css ">
</head>

    




<body>
    <!-- nabar -->
    {{>navbar}}

    <!-- main body -->

    <div class="container-fluid main_body">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">


                <div class="search_bar">
                    <form class="temp_form">
                        <input type="text" id="city" placeholder="Enter city name" autocomplete="">
                        <input type="submit" value="search" id="submitBtn">
                    </form>
                </div>
                <div class="tempInfo">
                    <div class="calInfo">
                        <p id="day">Monday</p>
                        <p id="date">26 feb</p>
                    </div>
                    <div class="main_data">
                         <p id="city_data">Output here</p>
                         <div class="weather_data data_hide">
                            <p id="temp"><span id="temp_new">80</span><sup>o</sup>C</p>
                            <p id="temp_status"><i class="fa fa-cloud" aria-hidden="true"></i></p>
                         </div>
                    </div>
                </div>




            </div>
        </div>
    </div>

    
<script src="js/first.js"></script>
<script>
    const day=document.getElementById('day')
    const date=document.getElementById('date')
    const getCurrentDay=()=>{
        let weeekday=new Array(7);
        weeekday[0]='Sunday'
        weeekday[1]='Monday'
        weeekday[2]='Tuesday'
        weeekday[3]='Wednessday'
        weeekday[4]='Thrusday'
        weeekday[5]='Friday'
        weeekday[6]='Saturday'
         
         let currentTime=new Date();
         let days=weeekday[currentTime.getDay()];
         day.innerText=days
    }
    getCurrentDay()


    const getCurrentDate=()=>{
        let months=["January","February","March","April","May","June","July","August","September","October","November","December"]
         let now=new Date()
         let month=months[now.getMonth()]
         let datee=now.getDate();
         date.innerText=`${datee} ${month}`
    }
    getCurrentDate()
</script>
</body>



</html>