*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-bg:#1e272e;
      --main-color:#0097e6;
}

html{
    font-size:15px;
}

.main_menu{
    background-color: var(--main-bg);
}

.navbar{
    padding: 1.5rem 0;
    /* width:100vh; */
}

.nav-link{
    font-size: 14px;
}

.main_body_left{
display:flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
bottom:30px;
}
.main_body_right{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.main_body_left p{
    font-size: 2rem;
}
.main_body_left{
  font-size: 4 rem;
  margin: 1rem 0 4rem 0;
  text-transform: capitalize;
}
.main_body_left .text_w{
    color: var(--main-color);
}
.main_body_left button{
    margin-top: 20px;
    border: none;
    padding: 0.6rem 1.6rem;
    font-size: 1rem;
    border-radius: 2rem;
    text-transform: uppercase;
    box-shadow: 0 8px 6px -6px #000;
    outline: none;
}
.main_body_left button:hover{
    box-shadow: 0 8px 6px -6px var(--main-color);
}

figure img{
    margin-top: 2rem;
    height: 400px;
width: 600px;

}
.error_body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnerr{
    display: flex;
    align-items: center;
    justify-content: center;
}
.abtbody{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}

.tempInfo{
    margin: auto;
    width: 40rem;
    min-height: 12rem;
    background-color: #323544;
    border-radius: 1rem;
    font-family: "Roboto",sans-serif;
}
.calInfo{
    width: 100%;
    height: 20%;
    background-color: #2d303d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1rem;
}
.calInfo p{
    color: #fff;
    font-weight: 300;
    padding: 2rem;
}
.main_data{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}
.main_data #city_data{
    padding: 2rem 0;
    color: #bfc1c8;
    font-weight: 300;
    font-size: 2rem;
}
.weather_data{
    display: flex;
    justify-content: space-around;
    color: white;
}
.weather_data p, .weather_data .fa{
    font-size: 6rem;
    font-weight: 900;
}
.fa{
    color: skyblue;
}
.data_hide{
    /* visibility: hidden; */
    transition: all 0.3s linear;
}

.search_bar{
    width: 60%;
    position: relative;
    margin: 2rem auto 1rem ;
}
.search_bar input[type="text"]{
width: 100%;
padding: 1rem 3rem 1rem 2rem;
background: #1e202b;
color: white;
outline: none;
border: none;
font-size: 1.7rem;
border-radius: 3rem;
}
::placeholder{
    color: #bfc1c8;
}
.search_bar input[type="submit"]{
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    background: #009ad8;
    padding: 0 2rem;
    border-radius: 3rem;
    color: white;
    font-size: 1.4rem;
}
.search_bar input[type="submit"]:hover{
color:var(--main-color) ;
background-color: #fff;
}


@media(max-width:768px){
    .navbar-nav{
        font-size: 50%;
    }
    .main_body_left{
        height: auto;
        margin: 3rem 0;
    }
    /* .main_body_right{
        height: auto;
        margin: 1rem 0;
    } */
      
}


