*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-bg:#1e272e;
      --main-color:#0097e6;
}

html{
    font-size: 63.5%;
}

.main_menu{
    background-color: var(--main-bg);
}

.navbar{
    padding: 2rem 0;
}
@media(max-width:584px){
    .navbar-nav{
        font-size: 50%;
    }
}


